<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--***********************PC*********************************************************************-->

		<add name="conexion" connectionString="Data Source=NARGEST060523;initial catalog=NARGEST060523;Integrated Security=False;Connection Timeout=5000;User Id=sa;Password=301102" providerName="System.Data.SqlClient" />

	

	</connectionStrings>
	
</configuration>